<h1>検索結果</h1>


<table class="table table-striped">
	<tr>
		<th width="10%">キャリア</th>
		<th width="20%">プラン</th>
		<th width="20%">料金 </th>
		<th width="20%">データ量</th>
	</tr>
	<% @plans.each do |plan| %>
		<tr>
			<td><%= plan.career.name %></td>
			<td><%= plan.name %></td>
			<td><%= plan.cost %>円/月</td>
			<td><%= plan.value %>GB/月</td>
		</tr>
	<% end %>
</table>
